In [9]:
from pyabraom import *
from pynoma import *

In [2]:
rs = RegionSearch(3, 17, 43045690, 43045710)
df, clinical_df = rs.get_data()

In [36]:
reg = 89740838
df = Search_region('hg38', 16, reg-50, reg+50)

In [68]:
rs = GeneSearch(3, 'BAK1')
mad_df, clinical_df = rs.get_data()

In [67]:
df = Search_gene('hg38', 'BAK1')
dels = df.loc[df['Alternative'] == "-"].Position.values

In [69]:
mad_df.loc[mad_df.Location.isin(dels)]

,Variant ID,rsID,Gene,Consequence,Annotation,Flags,Allele Count,Allele Number,Allele Frequency,Number of Homozygotes,Source,Chromosome,Location,Reference,Alternative
283,6-33577640-G-T,rs375089143,BAK1,c.-31-5C>A,splice_region_va...,[],1,151382,0.000007,0,Genome,6,33577640,G,T
284,6-33577640-G-A,rs375089143,BAK1,c.-31-5C>T,splice_region_va...,[],3,151382,0.000020,0,Genome,6,33577640,G,A

In [13]:
rs = GeneSearch(3, 'PTK2')
mad_df, clinical_df = rs.get_data()
mad_df.loc[mad_df.Annotation == "inframe_deletion"]

,Variant ID,rsID,Gene,Consequence,Annotation,Flags,Allele Count,Allele Number,Allele Frequency,Number of Homozygotes,Source,Chromosome,Location,Reference,Alternative
125,8-140662662-CAGG-C,rs1188036104,PTK2,p.Pro51del,inframe_deletion,[],1,152184,0.000007,0,Genome,8,140662662,CAGG,C
131,8-140662690-AGTC...,rs202056008,PTK2,p.Leu41_Thr42del,inframe_deletion,[],2643,152190,0.017366,45,Genome,8,140662690,AGTCAAT,A
206,8-140664939-AGGA...,rs1213454475,PTK2,p.Pro986_Leu987del,inframe_deletion,[],3,142670,0.000021,0,Genome,8,140664939,AGGAGGG,A
500,8-140700924-ATCT-A,rs766236776,PTK2,p.Glu821del,inframe_deletion,[],1,151988,0.000007,0,Genome,8,140700924,ATCT,A

In [10]:
reg = 42694920
df = Search_region('hg38', 5, reg-50, reg+50)

In [8]:
df

,Chromosome,Position,Reference,Alternative,Annotation,Gene,GATK Filter,Number of Homozygotes,Allele Number,Allele Count,Allele Frequency
0,5,42694908,T,C,intronic,GHR,PASS,0,2342,1,0.000427
1,5,42694923,T,A,synonymous SNV,GHR,PASS,0,2342,2,0.000854

In [3]:
import requests
import sys

def genome_ref_info(chromosome,version,position):
       
    if version in ["hg38","GRCh38"]:
        server = "https://rest.ensembl.org/sequence/region/human/%s:%d..%d:1?" %(chromosome,position,position)
    if version in ["hg19", "GRCh37"]:
        server=  "https://grch37.rest.ensembl.org/sequence/region/human/%s:%d..%d:1?" %(chromosome,position,position)
       
    request = requests.get(server, headers={ "Content-Type" : "text/plain"})
    if not request.ok:
        request.raise_for_status()
        sys.exit()
    return(request.text)

In [7]:
genome_ref_info(1, "hg38", 32332725-1)

'A'

In [11]:
df

,Chromosome,Position,Reference,Alternative,Annotation,Gene,GATK Filter,Number of Homozygotes,Allele Number,Allele Count,Allele Frequency
0,5,42694908,T,C,intronic,GHR,PASS,0,2342,1,0.000427
1,5,42694923,T,A,synonymous SNV,GHR,PASS,0,2342,2,0.000854

In [12]:
d = {
    "Variant ID": ["aaa", "bb"],
    "Position": [1111, 22222],
    "Reference": ["T", "A"]
}

In [14]:
df["Position"] = [1111, 22222]

In [15]:
df

,Chromosome,Position,Reference,Alternative,Annotation,Gene,GATK Filter,Number of Homozygotes,Allele Number,Allele Count,Allele Frequency
0,5,1111,T,C,intronic,GHR,PASS,0,2342,1,0.000427
1,5,22222,T,A,synonymous SNV,GHR,PASS,0,2342,2,0.000854