In [1]:
from pyabraom import *
from pynoma import *

In [2]:
rs = RegionSearch(3, 17, 43045690, 43045710)
df, clinical_df = rs.get_data()

In [36]:
reg = 89740838
df = Search_region('hg38', 16, reg-50, reg+50)

In [68]:
rs = GeneSearch(3, 'BAK1')
mad_df, clinical_df = rs.get_data()

In [67]:
df = Search_gene('hg38', 'BAK1')
dels = df.loc[df['Alternative'] == "-"].Position.values

In [69]:
mad_df.loc[mad_df.Location.isin(dels)]

,Variant ID,rsID,Gene,Consequence,Annotation,Flags,Allele Count,Allele Number,Allele Frequency,Number of Homozygotes,Source,Chromosome,Location,Reference,Alternative
283,6-33577640-G-T,rs375089143,BAK1,c.-31-5C>A,splice_region_va...,[],1,151382,0.000007,0,Genome,6,33577640,G,T
284,6-33577640-G-A,rs375089143,BAK1,c.-31-5C>T,splice_region_va...,[],3,151382,0.000020,0,Genome,6,33577640,G,A

In [79]:
rs = GeneSearch(3, 'clu')
mad_df, clinical_df = rs.get_data()
mad_df.loc[mad_df.Annotation == "inframe_deletion"]

,Variant ID,rsID,Gene,Consequence,Annotation,Flags,Allele Count,Allele Number,Allele Frequency,Number of Homozygotes,Source,Chromosome,Location,Reference,Alternative
95,8-27598614-AGTCA...,rs751418298,CLU,p.Thr393_Asp395del,inframe_deletion,[],5,152228,0.000033,0,Genome,8,27598614,AGTCAGAAGT,A
342,8-27605093-AAAG-A,rs778445133,CLU,p.Phe220del,inframe_deletion,[],13,152024,0.000086,0,Genome,8,27605093,AAAG,A
485,8-27608941-TTTC-T,rs1462955044,CLU,p.Lys81del,inframe_deletion,[],1,152252,0.000007,0,Genome,8,27608941,TTTC,T
487,8-27608954-GCTT-G,None,CLU,p.Glu76del,inframe_deletion,[],1,152172,0.000007,0,Genome,8,27608954,GCTT,G

In [80]:
reg = 27598614
df = Search_region('hg38', 8, reg-50, reg+50)

In [81]:
df

,Chromosome,Position,Reference,Alternative,Annotation,Gene,GATK Filter,Number of Homozygotes,Allele Number,Allele Count,Allele Frequency
0,8,27598609,G,A,synonymous SNV,CLU,PASS,0,2342,1,0.000427
1,8,27598613,G,A,nonsynonymous SNV,CLU,PASS,0,2342,13,0.005551
2,8,27598615,GTCAGAAGT,-,nonframeshift de...,CLU,PASS,0,2342,1,0.000427